/* @font-face {
  font-family: "font-1";
  src: url(./font/Inter-VariableFont_slnt\wght.ttf);
} */
* {
  margin: 0;
  padding: 5px;
  font-family: "font-1", Arial;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  position: relative;
  z-index: 100;
}
a:hover {
  font-size: 1.3rem;
  color: #2128bd;
}
body {
  background: rgb(27, 27, 27);
  color: rgb(246, 246, 246);
  min-height: 100vh;
  cursor: none;
}

/* -------------------TP1------------------- */

.mousemove1 {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.844);
  transform: translate(-50%, -50%);
  transition: 0.2s ease-out;
  filter: invert(0%);
  mix-blend-mode: difference;
}

.mousemove2 {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background: rgba(46, 46, 46, 0.903);
  transform: translate(-50%, -50%);
  transition: 0.3s ease-out;
  mix-blend-mode: difference;
}

.mousemove3 {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: rgba(19, 69, 248, 0.836);
  transform: translate(-50%, -50%);
  transition: 0.2 ease-out;
  mix-blend-mode: difference;
}

nav {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 10px 20px;
  height: 50px;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
section {
  display: flex;
}
.main-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  font-size: 5rem;
}
.main-left h2 {
  color: #474dff;
  font-size: 1.8rem;
}
.main-left p {
  font-size: 0.8rem;
}
.main-right {
  width: 50%;
}
.main-right img {
  width: 100%;
}
footer {
  background: rgb(7, 7, 7);
  display: grid;
  grid-template-columns: 33% 67%;
  border-radius: 10px;
}
.footer-left ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 160px;
}
.footer-left li {
  background: #474dff;
  width: 170px;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
  letter-spacing: 1px;
  font-weight: bold;
}
.footer-right ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 160px;
}

footer img {
  height: 60px;
}

/* ************** RESPONSIVE *************** */

/* Tablette */
@media (max-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
  .main-left h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.7rem;
  }
  footer {
    grid-template-columns: 40% 60%;
  }
  footer img {
    height: 35px;
  }
}

/* Mobile */
@media (max-width: 570px) {
  nav {
    margin: 10px 5px;
  }
  nav li {
    font-size: 0.7rem;
  }
  section {
    flex-direction: column;
  }
  .main-left,
  .main-right {
    width: 100%;
  }
  .main-right img {
    width: 65%;
    margin: 0 auto;
    display: block;
  }
  footer {
    grid-template-columns: 1fr;
  }
  .footer-left ul {
    align-items: center;
  }
}
